body {
    font-family: inherit;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:white;
  }
  
  .calculator {
    width: 300px;
    background-color: black;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    
  }
  
  #display {
    width: 280px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    border: 3px solid white;
    border-radius: 3px;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 15px;
    font-size: 18px;
    background-color:gainsboro;
    border: 2px lightgoldenrodyellow;
    border-radius:3px ;
    cursor: pointer;
  }
  
  button:hover {
    border-color: black;
  }
  